<div id="fh5co-contact" data-section="contact">
  <div class="container">
    <div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
      {{ with .Site.Params.contact }}
      <h2>{{ .title }}</h2>
      <p>{{ .message | markdownify }}</p>
      {{ end }}
    </div>
		<form name="contact-form" netlify-honeypot="_gotcha" action="thank-you" netlify>
			<div class="col-md-6">
				<div class="form-group">
					<p>Would you be interested in buying an anamorphic sculpture</p>
					<div class="form-check">
						<input class="form-check-input watch-me" type="radio" name="_interest" id="show-it" value="true">
						<label class="form-check-label" for="show-it">
							Yes
						</label>
					</div>
					<div class="form-check">
						<input class="form-check-input watch-me" type="radio" name="_interest" id="exampleRadios2" value="false" checked>
						<label class="form-check-label" for="exampleRadios2">
							No
						</label>
					</div>
				</div>
				<div class="form-group" id="show-me" style="display: none">
					<label for="PriceIdPay">How much would you pay for such a sculpture</label>
					<input type="range" class="form-control-range form-control-lg" id="PriceIdPay" name="_price" value="0" min="0" max="200" oninput="priceout.value = PriceIdPay.value">
					<output name="priceout" id="priceout">0</output> &euro;
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					<label for="message">Optional critique -- increases present chance</label>
					<textarea class="form-control" id="message" name="message" rows="7"></textarea>
				</div>
				<div class="form-group">
					{{ with .Site.Params.contact }}
					<input type="email" class="form-control" id="inputEmail" placeholder="{{ .email_placeholder }}" name="_email">
					<small id="emailHelp" class="form-text text-muted">{{ .email_disclaimer }}</small>
					{{ end }}
				</div>
			</div>
			<div class="col-md-12">
				<div class="form-group">
					<input type="hidden" name="_subject" value="New survey submission">
					<input type="text" name="_gotcha" style="display:none">
					<button type="submit" class="btn btn-primary btn-outline" value="Send">{{ with .Site.Params.contact }}{{ .button_text }}{{ end }}</button>
				</div>
			</div>
    </form>
  </div>
</div>
